{{> header }}

<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Nueva Utilidad</h3>
                <div class="alert" id="util-result" style="display: none"></div>
                <form action="/new-util" action="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="util-title" placeholder="Título de la utilidad">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="util-desc" rows="3" placeholder="Descripción de la utilidad"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="technology">Tecnología</label>
                        <select class="form-control" name="technology" id="util-technology">
                            {{#each techs }}
                                <option value="{{ name }}">{{ name }}</option>
                            {{/each }}
                        </select>
                    </div>
                    <input type="button" class="btn btn-success" id="new-util" value="Guardar">
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Nueva tecnología</h3>
                <div class="alert" id="tech-result" style="display: none"></div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="tech-name" placeholder="Nombre de la tecnología">
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="tech-img">
                    </div>
                    <div class="container preview-card" style="display: none">
                        <img class="img-fluid" id="preview" src="" alt="No hay vista previa">
                    </div>
                    <input type="button" class="btn btn-success" id="new-tech" value="Guardar">
                </form>
            </div>
        </div>
    </div>
</div>

{{> footer }}