{{> header }}

<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Nueva Utilidad</h3>

                <form action="/new-util" action="post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="mdi mdi-account"></i></div>
                            <input type="text" class="form-control" id="name" placeholder="Título de la utilidad">
                        </div>
                    </div>
                    <div class="form-group">
                        <select name="" id="">
                            <option value="">Valor</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Nueva tecnología</h3>
                <div class="alert" id="eco-result" style="display: none"></div>
                <form id="exo-form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="mdi mdi-pine-tree"></i></div>
                            <input type="text" class="form-control" id="eco-name" placeholder="Nombre de la tecnología">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="mdi mdi-image"></i></div>
                            <input type="file" class="form-control" id="eco-img">
                        </div>
                    </div>
                    <div class="container preview-card" style="display: none">
                        <img class="img-fluid" id="preview" src="" alt="No hay vista previa">
                    </div>
                    <input type="button" class="btn btn-success" id="new-eco" value="Guardar">
                </form>
            </div>
        </div>
    </div>
</div>

{{> footer }}