{{> header }}

<div class="container mx-auto mt-5 text-center">
	<h4 class="display-4">Ocurrió un error</h4>
	<img src="/assets/img/brain.png" height="250">
	<p>{{ message }} <a href="/" class="badge badge-dark">Regresar al inicio</a></p>
</div>

{{> footer }}