/* Background colors */

.page-color {
	background-color: #20bf6b;
}

.page-yellow {
	background-color: #f7b731; 
}

.page-red {
	background-color: #eb3b5a;
}

.page-orange {
	background-color: #fd9644;
}

.color-red {
	color: #eb3b5a !important;
}

/* hover styles */

.color-green:hover {
	background-color: #20bf6b;
	opacity: 0.7;
}

.color-red:hover {
	opacity: 0.6;
}

/* Forms colors */

/* label color */
.input-field label {
	color: #20bf6b;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #20bf6b;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #20bf6b;
	box-shadow: 0 1px 0 0 #20bf6b;
}