body {
	font-size: 38px;
}

h4 {
	font-size: 70px;
	margin-top: 50px;
}

nav {
	height: 100px;
}

div.notes {
	margin-top: 50px;
}

.card {
	padding: 10px;
	border-radius: 20px;
}

.card-title {
	margin-top: 20px;
	margin-bottom: 35px !important;
	font-size: 60px !important;
}

.btn-large {
	height: 130px !important;
	width: 130px !important;
}

.btn-floating.btn-large i {
	line-height: 133px;
}

.btn-large i {
	font-size: 60px !important;
}

button, a, i {
	font-size: 35px !important;
}

.btns {
	margin-top: 70px;
	display: flex;
	justify-content: space-around;
	/*text-align: center;*/
}

.btn {
	height: auto !important;
	padding: 20px !important;
}

.brand-logo {
	font-size: 60px !important;
	line-height: 95px;
}

.container {
	margin-top: 90px;
}

form {
	margin-top: 40px;
}

input, textarea {
	font-size: inherit !important;
	margin-top: 15px !important;
}

form label {
	margin-top: 0px !important;
	font-size: 30px;
}

.card .card-content .card-title {
	line-height: normal;
}