body {
	color: #3d3d3d;
}

.notification {
	margin: 20px 5px;
	padding: 10px 15px;
	border-radius: 5px;
	color: black;
}

.link-notification {
	text-decoration: underline;
	color: black;
	float: right;
}