	<!-- Bootstrap JS -->
	<script src="/libs/jquery/dist/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/libs/popper/dist/js/popper.min.js"></script>
	<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Font awesome -->
	<script src="/libs/fontawesome/dist/js/d338d601f8.js"></script>
	<!-- Custom scripts -->
	{{#each scripts }}
		<script src="/assets/js/{{ this }}"></script>
	{{/each }}
</body>

</html>