<nav class="navbar navbar-light bg-page-color shadow-sm">
	<div class="container">
		<a class="navbar-brand text-white" href="/">
			<img src="/assets/img/brain.png" width="33">
			CercaTrova
		</a>
	</div>
</nav>