<nav class="navbar fixed-top navbar-light bg-page-color shadow-sm">
	<div class="container">
		<a class="navbar-brand text-white" href="/">
			<div class="img-brand">
				<img src="/assets/img/brain.png">
			</div>
			CercaTrova
		</a>
	</div>
</nav>