<header>
	<nav class="navbar fixed-top bg-page-color">
		<div class="container">
			<a class="navbar-brand text-white" href="/">
				<div class="img-brand"><img src="/assets/img/brain.png"></div>CercaTrova
			</a>
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a class="nav-link" href="/">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/grupos">Grupos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/notas">Notas</a>
				</li>
			</ul>
		</div>
	</nav>
</header>